.detailsdiv{
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0px 0px 3px 0px black;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(240, 240, 240);
}
.heading{
    font-weight: bold;
}
.product_image{
    height: 80px;
    width: 60px;
}
.cartitemdiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;

}
.cartaligndiv{
    margin-top: 2rem;
    font-weight: bold;
}

.order_align{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn{
    background-color: goldenrod;
    color: black;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    box-shadow: 0px 0px 3px black;
    margin-top:1rem;
    width: -webkit-fill-available;
    margin-bottom: 1rem;
}
.rightouterdiv{

    float: left;
    transform: translateY(-35%);

}
@media screen and (max-width:650px){
    .rightouterdiv{

        float: left;
        transform: translateY(0%);
    
    }
}